.container{
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 $m-size;
}

// ======Challenge======
// create the color variable
// dark-blue with value of #333745
// use it as a body background 
// ======> we will do that in the _base.scss file in the body tag <======

   