//Colors
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue : #333745;
$purple: #8357c5;
$blue:#3c4251;
$light-blue:#464b5e;

// =======Challenge=====
//Create Spacing variables and change it in all the files
//Spacing
$m-size: 1.6rem;
$very-big-size: 4.8rem;
$big-size: 3.2rem;
$s-size:1.2rem;
$very-small-size: 0.6rem;
$desktop-breakpoint: 45rem;

